<div class="container">
  <div class="title">Buscador de cuentas:</div>
  <form class="form" [formGroup]="accountsFormGroup">
    <div>
      <mat-form-field class="full-width">
        <mat-label>Cuenta</mat-label>
        <input
          matInput
          formControlName="account"
          [matAutocomplete]="auto"
          required
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let item of accounts"
            [value]="item"
            (onSelectionChange)="selectedData($event)"
            >{{ item.Name }}</mat-option
          >
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <button
        class="search-button"
        mat-raised-button
        [disabled]="accountsFormGroup.invalid || !selectedAccountId"
        (click)="goToReport()"
      >
        Ir al reporte
      </button>
    </div>
  </form>
  <!-- <div>
    <mat-list role="list">
      <div>
        <mat-list-item *ngFor="let account of accounts" role="listitem">
          <div class="list-item">
            <a
              mat-button
              [routerLink]="['/reports/' + account.ID]"
              routerLinkActive="router-link-active"
              >{{ account.Name }}</a
            >
          
          </div>
        </mat-list-item>
      </div>
    </mat-list>
  </div> -->
</div>
