@use "@angular/material" as mat;

table {
  width: 100%;
}

.table-container {
  padding: 2rem;
}

.interval-container {
  margin-left: 1rem;

  .interval-wrapper {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: 0.75rem;

    .interval {
      // margin-left: 1rem;
      width: 100px;
    }
  }
}

.negative-value {
  color: red;
}

.positive-value {
  color: green;
}

.chart-section {
  display: flex;
  justify-content: center;
}

.date-picker {
  width: 300px;
}

.search-button {
  height: 56px;
  margin-left: 2rem;
  margin-top: 2rem;
}

.radio-container {
  // padding-top: 2rem;
}

.search-container {
  height: 150px;
  display: flex;
  padding-left: 2rem;
  padding-top: 2rem;
}

.card {
  height: 150px;
}

::ng-deep mat-snack-bar-container {
  .mdc-snackbar__surface {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
  }

  .mat-mdc-button {
    color: #721c24 !important;
  }
}
